<!DOCTYPE html>
<html>
<head>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.0.0/dist/phaser.min.js"></script>
</head>
<body>

<script>
    var config = {
        type: Phaser.AUTO,
        width: 1024,
        height: 600,
        physics: {
            default: 'arcade',
            arcade: {
                gravity: { y: 200 }
            }
        },
        scene: {
            preload: preload,
            create: create
        }
    };

    var game = new Phaser.Game(config);

    function preload ()
    {
        game.load.image("background", "../img/pokertable-bg.jpg");
    }

    function create ()
    {
        game.add.image(game.world.centerX, game.world.centerY, 'background').anchor.set(0.5);
    }
</script>

</body>
</html>